body {
    font-size: 20px;
    background: rgb(212, 212, 212);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', sans-serif;
}

article.product {
    max-width: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 32px rgba(0, 0, 0, .1);
}

.product figure {
    margin: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 208, 0);
}

.product figure img {
    width: 80%;
    margin: 50px 0;
}

.product figure figcaption {
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
    margin: auto 8px 8px auto;
}

.product section {
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.product section h1 {
    font-size: 26px;
    margin: 0;
}

.product section h2 {
    margin: 4px 0;
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(0, 0, 0, .7);
}

.price {
    align-self: flex-end;
    margin-top: 50px;
    font-size: 32px;
    font-weight: 700;
}